/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import '../../variables';

$column-tree-width: 250px;
$work-panel-width: 250px;

.talaria-view {
  height: 100%;
  width: 100%;

  .column-tree {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: $column-tree-width;
    @include card-like;
  }

  .work-panel {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: $work-panel-width;
  }

  .center-panel {
    position: absolute;
    top: 0;
    height: 100%;
    left: $column-tree-width + $thin-padding;
    right: $work-panel-width + $thin-padding;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .query-tabs {
      position: relative;
      white-space: nowrap;
      overflow: hidden;

      .tab-button {
        &.active {
          @include card-like;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom: 2px solid #a1a6ba;
        }

        .tab-extra {
          opacity: 0;
        }

        &.active,
        &:hover {
          .tab-extra {
            opacity: 1;
          }
        }
      }

      .add-tab {
        display: inline-block;
        vertical-align: top;
        padding: 6px 14px;
        margin-left: 4px;
      }

      .toolbar {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    .query-tab {
      position: absolute;
      width: 100%;
      top: 32px;
      bottom: 0;
      overflow: auto;
    }
  }

  &.hide-column-tree .center-panel {
    left: 0;
  }

  &.hide-work-history .center-panel {
    right: 0;
  }
}
