name: Update implydata/druid master from apache/druid master
on:
  schedule:
    - cron:  '0 */2 * * *' #Every 2 hours
jobs:
  updateMaster:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          repository: implydata/druid
          ref: master
          fetch-depth: 0
          token: ${{ secrets.PAT_FOR_GITHUB_ACTION}}
      - name: rebase implydata/druid with apache/druid
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git remote add upstream https://github.com/apache/druid.git
          git fetch upstream
          git checkout master
          git merge upstream/master
          git push
      - name: Files causing merge conflict
        if: ${{ failure() }}
        run: |
          echo "FILE=$(git diff --name-only --diff-filter=U |head -1)"  >> $GITHUB_ENV
          echo "ALL_FILES=$(git diff --name-only --diff-filter=U)"  >> $GITHUB_ENV
      - name: Details of first file causing conflict
        if: ${{ failure() }}
        run: |
          echo "IMPLY_COMMIT=$(git log master -n 1 --pretty=format:'%h' -- ${{ env.FILE }})" >> $GITHUB_ENV
          echo "IMPLY_COMMITER=$(git log master -n 1 --pretty=format:'%an' -- ${{ env.FILE }})" >> $GITHUB_ENV
          echo "APACHE_COMMIT=$(git log upstream/master -n 1 --pretty=format:'%h' -- ${{ env.FILE }})" >> $GITHUB_ENV
          echo "APACHE_COMMITER=$(git log upstream/master -n 1 --pretty=format:'%an' -- ${{ env.FILE }})" >> $GITHUB_ENV
      - name: Slack Notification for job failed
        if: ${{ failure() }}
        uses: rtCamp/action-slack-notify@v2.1.0
        env:
          SLACK_USERNAME: "barista bob"
          SLACK_ICON_EMOJI: ":barista:"
          SLACK_MESSAGE: "Automatic sync failed possibly due to merge conflicts. Manual merge required. `${{ env.ALL_FILES }}` caused the conflict. `${{ env.FILE }}` and was last updated in `imply/druid` by ${{ env.IMPLY_COMMITER }} with commit [${{ env.IMPLY_COMMIT }}](https://github.com/implydata/druid/commit/${{ env.IMPLY_COMMIT }}) and in `apache/druid` by ${{ env.APACHE_COMMITER }} with commit [${{ env.APACHE_COMMIT }}](https://github.com/apache/druid/commit/${{ env.APACHE_COMMIT }}). Please resolve conflicts of all the files. See https://implydata.atlassian.net/wiki/spaces/ENG/pages/1461060101/Automatic+backport+PR+for+Druid+repo#Merge-conflicts for tips on resolving merge conflicts"
          SLACK_TITLE: "[FAILED] Update implydata/druid master from apache/druid master"
          SLACK_COLOR: "danger"
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          
